<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>乐蜀点餐统计</title>
	</head>
	<link rel="stylesheet" type="text/css" href="/static/dingcan/index.css"/>
	<body>
		<div class="contentAll">
			<h1>乐蜀点餐统计:</h1>
			<dl>
				<dt class="tFlex">
                    <span>时间</span>
                    <span>姓名</span>
                    <span>部门</span>
                    <span>菜名</span>
                    <span>链接</span>
                    <span>费用</span>
                </dt>
                {% for dingcan in object_list %}
				<dd>
                    <span>{{ dingcan.timestamp|date:"Y-m-d" }}</span>
                    <span>{{ dingcan.username }}</span>
                    <span>{{ dingcan.organization }}</span>
                    <span>{{ dingcan.food }}</span>
                    <span>{{ dingcan.type }}</span>
                    <span>{{ dingcan.price }}</span>
                </dd>
                {% endfor %}
			</dl>
			<div class="allfeiy">合计参点人数：<strong>{{ count_id }}</strong></div>
            <div class="allfeiy">合计总金额：<strong>{{ price_sum }}</strong></div>
		</div>

	</body>
</html>